{% extends "base.html" %}

{% block title %}
game page
{% endblock %}

{% block content %}

    <div class="scoreboard">
        <table>
            <thead>
                <th colspan="2">Player 1</th>
            </thead>
            <tbody>
                                <tr>
                    <td>20</td><td id="player_1_num_20s">-</td>
                </tr>
                <tr>
                    <td>19</td><td id="player_1_num_19s">-</td>
                </tr>
                <tr>
                    <td>18</td><td id="player_1_num_18s">-</td>
                </tr>
                <tr>
                    <td>17</td><td id="player_1_num_17s">-</td>
                </tr>
                <tr>
                    <td>16</td><td id="player_1_num_16s">-</td>
                </tr>
                <tr>
                    <td>15</td><td id="player_1_num_15s">-</td>
                </tr>
                <tr>
                    <td>BULL</td><td id="player_1_num_bulls">-</td>
                </tr>
                <tr>
                    <td colspan='2' id="player_1_score">0</td>
                </tr>
            </tbody>
        </table>        
    </div>
    
    <div class="dartboard">
        <img id="dartboard" src="{{ url_for('static', filename='dartboard.png') }}">
        <div class="form_section">
            <div class="entry_section">
                <div class="entries">
                    <div id="dart1"></div>
                    <div id="dart2"></div>
                    <div id="dart3"></div>
                </div>
                <div class="undo_button">
                    <button id="undo">Undo</button>
                </div> 
            </div>
            <button id="submit">Submit</button>
        </div>
        
    </div>

    <div class="scoreboard">
        <table>
            <thead>
                <th colspan="2">Player 2</th>
            </thead>
            <tbody>
                <tr>
                    <td>20</td><td id="player_2_num_20s">-</td>
                </tr>
                <tr>
                    <td>19</td><td id="player_2_num_19s">-</td>
                </tr>
                <tr>
                    <td>18</td><td id="player_2_num_18s">-</td>
                </tr>
                <tr>
                    <td>17</td><td id="player_2_num_17s">-</td>
                </tr>
                <tr>
                    <td>16</td><td id="player_2_num_16s">-</td>
                </tr>
                <tr>
                    <td>15</td><td id="player_2_num_15s">-</td>
                </tr>
                <tr>
                    <td>BULL</td><td id="player_2_num_bulls">-</td>
                </tr>
                <tr>
                    <td colspan='2' id="player_2_score">0</td>
                </tr>
            </tbody>
        </table>   
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='dartboard.js') }}"></script>

{% endblock %}