{% extends "base.html" %}

{% block title %}
game page
{% endblock %}

{% block content %}
    <h1> Game Page!</h1>

    <div class="board">
        player 1
        <ul>
            <li id="player_1_num_20s">-</li>
            <li id="player_1_num_19s">-</li>
            <li id="player_1_num_18s">-</li>
            <li id="player_1_num_17s">-</li>
            <li id="player_1_num_16s">-</li>
            <li id="player_1_num_15s">-</li>
            <li id="player_1_num_bulls">-</li>
            <li id="player_1_score"></li>
        </ul>     
    </div>
    
    <div>
        <img id="dartboard" src="{{ url_for('static', filename='dartboard.png') }}">
        <div id="entries">
            <span id="dart1">-</span>
            <span id="dart2">-</span>
            <span id="dart3">-</span>
        </div>
    </div>

    <button id="undo">Undo</button>
    <button id="submit">Submit</button>

    <div class="board">
        player 2
        <ul>
            <li id="player_2_num_20s">-</li>
            <li id="player_2_num_19s">-</li>
            <li id="player_2_num_18s">-</li>
            <li id="player_2_num_17s">-</li>
            <li id="player_2_num_16s">-</li>
            <li id="player_2_num_15s">-</li>
            <li id="player_2_num_bulls">-</li>
            <li id="player_2_score"></li>
        </ul>     
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='dartboard.js') }}"></script>

{% endblock %}