{% extends "base.html" %}

{% block title %}
game page
{% endblock %}

{% block content %}
    <h1> Game Page!</h1>

    <div class="board">
        player 1
        <ul>
            {% for key in boards[0] %}
                <li>
                    {{key}} {{boards[0][key][0]}}
                </li>
            {% endfor %}
        </ul>
            
    </div>
    
    <div>
        <img id="dartboard" src="{{ url_for('static', filename='dartboard.png') }}">
        <div id="entries">
            <span id="dart1">-</span>
            <span id="dart2">-</span>
            <span id="dart3">-</span>
        </div>
    </div>

    <button id="undo">Undo</button>
    <button id="submit">Submit</button>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='dartboard.js') }}"></script>

{% endblock %}